<app-header [headerTitle]="'Analytics.'"></app-header>
<div class="principal-container">
  <div class="landing-pages">Landing Pages</div>
  <div class="all-graphics-container">
    
    <app-chart [chart]="bar_chart"></app-chart>
    <app-chart [chart]="bar_chart2"></app-chart>

    <app-chart [chart]="pie_chart" [style]="'height: 300px;'"></app-chart>
    <app-chart [chart]="pie_chart2" [style]="'height: 300px;'"></app-chart>

    <app-chart [chart]="line_chart"></app-chart>
    <app-chart [chart]="line_chart2"></app-chart>

    <app-chart [chart]="bubble_chart"></app-chart>
    <app-chart [chart]="bubble_chart2"></app-chart>

    <app-chart [chart]="polar_chart"></app-chart>
    <app-chart [chart]="polar_chart2"></app-chart>

    <app-chart [chart]="radar_chart"></app-chart>
    
    
   </div>
</div>
